.confirm
  = form_with(model: @tweet, local: true) do |form|
    %h3 投稿する
    = form.text_field :summary, placeholder: "要約", class:"box"
    = form.text_field :image, placeholder: "写真(必要に応じて)", class:"box"
    = form.text_area :text, placeholder: "本文", rows: "100", class:"box__text"
    = form.submit "SEND", class:"box"